*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/*NAVBAR*/

 .navbar-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
}

.navbar-items {
    padding: 2em;

}






.linkedin-icon {
    width: 32px;
    height: 32px;
}

/*IMAGE AND WORDS SECTION*/


section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%; 
    margin-top: 10%;
}


section .rounded-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;

}

.section-presentation {
    padding: 2px;
}

.section-presentation h1 {
    font-family: 'Montserrat', sans-serif;
}

.section-presentation p {
    font-family: 'Roboto', sans-serif;
}


/*MEDIA QUERIES PARA MOBILE*/

@media (max-width:844px){
    section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
    }
    section .rounded-img {
        margin-top: 0.5em ;
    }

    .section-presentation p {
        margin: 0.5em 0;
    }
}