*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*NAVBAR*/

 .navbar-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
}

.navbar-items {
    padding: 2em;

}






.linkedin-icon {
    width: 32px;
    height: 32px;
}

/*IMAGE AND WORDS SECTION*/


section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%; 
    margin-top: 10%;
}


section .rounded-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;

}

.section-presentation {
    padding: 2px;
}

.section-presentation h1 {
    font-family: 'Montserrat', sans-serif;
}

.section-presentation p {
    font-family: 'Roboto', sans-serif;
}