@font-face {
  font-family: 'JetBrainsMono-Regular';
  font-style: normal;
  font-weight: 500;
  src: url('./JetBrainsMono-Regular.woff2') format('woff2');
  font-display: swap;
}

* {
  font-family: 'JetBrainsMono-Regular';
}
